@charset "UTF-8";

.userContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	max-width: 1024px;
	margin: 0 auto;
}
.userContents{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 53px;
	width: 100%;
	height: 100%;
	
}
.userContents > p{
	color: #000;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 36px */
	letter-spacing: -1.8px;
}
.userContents p span{
	font-weight: 700;
}

.ccButton{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 16px;
	width: 232px;
	height: 232px;	
	border-radius: 999px;
	background: linear-gradient(180deg, #FF7A19 0%, #FFCB11 100%);
	box-shadow: 0px 0px 15px 0px #DFDFDF;
	font-family: var(--fn-omni);
}
.ccButton::after{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	display: inline-block;
	width: 274px;
	height: 274px;
    background-image: url('/img/cc-line.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    animation: rotate 10s linear infinite; /* 10초 동안 선형으로 무한 반복 */
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.ccButton span{
	color: rgba(255, 255, 255, 0.50);
	text-align: center;
	font-family: var(--fn-omni);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 18px */
	letter-spacing: -0.9px;
}
.ccButton p{
	color: #FFF;
	text-align: center;
	font-family: var(--fn-omni);
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 36px */
	letter-spacing: -1.8px;
}


.userContainer .userContents > p.titleTop2{
	display: none;
}
.userContainer .userContents > p.titleBottom2{
	display: none;
}

.userContainer.active{
	background-color: #000;
	transition: all .3s;
}
.userContainer.active .userContents > p{
	color: #fff;
	transition: all .3s;
}
.userContainer.active .userContents > p.titleTop1{
	display: none;
}
.userContainer.active .userContents > p.titleTop2{
	display: block;
}


.userContainer.active .userContents > p.titleBottom1{
	display: none;
}
.userContainer.active .userContents > p.titleBottom2{
	display: block;
}


.userContainer.active .ccButton{
	background: linear-gradient(180deg, #6E3BFF 0%, #18C8FF 100%);
	box-shadow: 0px 4px 24px 0px #3B8EFE;
	transition: all .3s;
}


/* 게이지 */

.warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.gaugeContainer {
    position: relative;
    width: 2176px;
    height: 1024px;
    overflow: hidden;
    background-image: url(/img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#gameArea {
    width: 100%;
    height: 100%;
}
.percent {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 334px;
    height: 239px;
    overflow: hidden;
}
.countGauge {
    position: fixed;
    bottom: -11px;
    left: 10.5px;
    width: 313px;
    height: 249px;
    background: linear-gradient(180deg, #FFF 0%, #319FFE 121.28%);
    clip-path: polygon(0% 0%, 100% 0, 100% 63%, 50% 90%, 0 63%);
    overflow: hidden;
}
.gaugeMask {
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 313px;
    height: 249px;
    background: linear-gradient(to top, #AEDCFF, white);
    transition: height 0.3s ease;
    overflow: hidden;
}
.count {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--fn-ald);
    color: #2E25AD;
    font-size: 50px;
    font-weight: 400;
}
.count span {
    font-size: 96px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -4.8px;
    background: linear-gradient(180deg, #1DBFFE 0%, #5E58FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle {
    position: absolute;
    object-fit: cover;
    animation: wobble 5s ease-in-out infinite;
}

@keyframes wobble {
    0%, 100% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-5px) scale(0.98); }
}

.btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
}
.videoWrapper{
    position: absolute;
    left: 0;
    top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s;
}
.videoWrapper.active{
	z-index: 10;
	opacity: 1;
}
.videoWrapper video{
	width: 100%;
	height: 100%;
}

.gaugeContainer.mains{
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-direction: column;
	width: 100%;
	padding-top: 64px;
	row-gap: 64px;
	
}
.phoneImgs{
    display: flex;
    justify-content: space-between;
	width: 100%;
	padding: 0 90px;
	align-self: flex-end;
}
.phoneImg{
	position: relative;
	max-width: 585px;
	width: 100%;
}
.phoneImg > img{
	width: 100%;
}
.qrImg{
    position: absolute;
    bottom: 82px;
    left: 50%;
    transform: translateX(-50%);
	max-width: 224px;
}
.qrImg img{
	width: 100%;
}